* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(246, 246, 246);
    margin: 0;
}

hr {
    border: 1px solid rgb(246, 246, 246);
}

.logo-container {
    background-color: white;
    display: flex;
    align-items: center;

}

.logo-container img {
    width: 65px;
    margin-left: 20px;

}

.logo-container h1 {
    font-size: 40px;
}

main {
    margin: 2% 15% 1% 15%;
    background-color: white;
}

.tasks {
    padding: 2% 4% 0% 6%;

}

.b1 {
    color: white;
    background-color: #47A9E8;
    border-radius: 4px;
    border: none;
    padding: 8px;

}

.b2 {
    color: gray;
    background-color: white;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 6px;
}


.point {
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 2px;

    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;

}

.check {
    color: #63BEA9;
}

.cross {
    color: red;

}

#down {
    width: 18px;
    height: 20px;
    padding-bottom: 3px;
    margin-right: 10px;

}



p {
    display: inline-block;
    padding-left: 13px;
    margin-top: 6px;
}

.tasks h2 {
    margin-bottom: 0;

}

.tag {

    color: white;
    border-radius: 12px;
    border: none;
    padding: 8px 16px;
    font-size: 12px;

}

.editorial {
    background-color: #47A9E8;
}

.goals {
    background-color: #9C72E3;
}

.today {
    padding-top: 0;

}

.recruiting {
    background-color: #63BEA9;
}

.mobile {
    background-color: #F39C34;
}

.upcoming {
    padding-top: 0;

}

.website {
    background-color: #D563A0;
}

.sales {
    background-color: #B1C729;
}